.main { 
    display: flex;
    gap: 15px;
}
.main nav{
    display:flex;
    gap:15px;
    height: 100vh;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

@media screen and (max-width: 400px) {
    .main{
        display: flex;
        flex-direction: column-reverse;
        position: relative;
        height: 100vh;
    }
    .main nav{
        position: sticky;
        bottom: 0;
        display: flex;
        flex-direction: row;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 10px;
    }
}